@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-responsive {
    @apply container mx-auto px-4 xl:px-4 2xl:px-36;
  }

  .button-header {
    @apply h-8 rounded-[50px] border px-[20px] py-[5px] text-sm font-medium leading-5;
  }

  .input-field {
    @apply w-full rounded-sm border bg-antiFlashWhite p-[0.625rem] placeholder:text-sm placeholder:font-normal focus:border-aquamarine focus:outline-none focus:placeholder:text-transparent;
  }

  .modal {
    @apply rounded-3xl bg-white text-center shadow-lg;
  }

  .flexCol {
    @apply flex flex-col justify-between;
  }

  .flexCenter {
    @apply flex items-center justify-between;
  }

  .flexItemsCenter {
    @apply flex items-center;
  }

  .borderModal {
    @apply border-y-[1px] border-solid border-[#D9D9D9]
  }

  .htmlHidden {
    @apply overflow-hidden
  }

  .next-btn {
    @apply flex h-14 w-6 items-center justify-center border border-white;
  }

  .text-overflow-multiline-ellipsis {
    @apply text-overflow-multiline;
  }
  
  

  @layer utilities {
    @variants responsive {

      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
      }
    }

    .border-mask {
      -webkit-mask-box-image: url(../public/images/subtract.svg) 30 repeat;
      mask-border: url(../public/images/subtract.svg) 30 repeat;
    }

    
    .text-overflow-multiline {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    
  }
}